.dashboard-title[b-mdmq0rbdag] {
    font-family: 'Roboto', sans-serif;
    color: #0070D1; 
    text-align: center;
    margin-bottom: 20px;
}


.playstation-card[b-mdmq0rbdag] {
    background-color: #1b1b1b; 
    border: 2px solid #0070D1; 
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.playstation-card .card-header[b-mdmq0rbdag] {
    background-color: #0070D1;
    font-weight: bold;
    text-align: center;
    border-bottom: 1px solid #333;
}

.playstation-card .card-title[b-mdmq0rbdag] {
    color: #FFFFFF;
    font-size: 2rem;
    text-align: center;
}

.btn-playstation[b-mdmq0rbdag] {
    background-color: #0070D1;
    border: none;
    color: white;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 5px;
}

.btn-playstation:hover[b-mdmq0rbdag] {
    background-color: #0058a3;
}

@media (max-width: 768px) {
    .dashboard-title[b-mdmq0rbdag] {
        font-size: 1.5rem;
    }

    .playstation-card .card-title[b-mdmq0rbdag] {
        font-size: 1.5rem;
    }
}
