.playstation-title[b-49fxxqsvc2] {
    font-family: 'Roboto', sans-serif;
    color: #0070D1; 
}

.btn-playstation[b-49fxxqsvc2] {
    background-color: #0070D1;
    border: none;
    color: white;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.btn-playstation:hover[b-49fxxqsvc2] {
    background-color: #0058a3;
}

.playstation-table[b-49fxxqsvc2] {
    border-color: #333;
    color: white;
    background-color: #1b1b1b;
}

.thead-playstation[b-49fxxqsvc2] {
    background-color: #0070D1;
    color: white;
}

.playstation-table th[b-49fxxqsvc2],
.playstation-table td[b-49fxxqsvc2] {
    text-align: center;
    padding: 15px;
}

.btn-playstation-action[b-49fxxqsvc2] {
    border-radius: 5px;
    font-size: 0.9rem;
}

.playstation-img[b-49fxxqsvc2] {
    border: 2px solid #0070D1;
    padding: 3px;
    width: 100px;
    height: 100px;
}

.playstation-table tr:hover[b-49fxxqsvc2] {
    background-color: #0070D1;
    color: white;
}

@media (max-width: 768px) {
    .playstation-title[b-49fxxqsvc2] {
        font-size: 1.5rem;
    }

    .playstation-table th[b-49fxxqsvc2],
    .playstation-table td[b-49fxxqsvc2] {
        font-size: 0.9rem;
    }
}